* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
  }
  
  body {
   font-family: Arial, Helvetica, sans-serif;
   background: linear-gradient(
      90deg,
      rgb(212, 228, 227) 40%,
      rgb(240, 215, 182) 100%
    );
  }
  
  .container {
    max-width: 1200px;
    margin:0 auto;
  }
  
  .contant {
    min-height: 80px;
    background: linear-gradient(
      90deg,
      rgb(219, 236, 236) 40%,
      rgb(243, 224, 198) 100%
    );
  }
    .contant{
    position: relative;
    min-height: 150px;
  }
  
  .menú {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
  
  .menú-ícono {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
      width: 100px;
      height: 100px;
      cursor:pointer;
  }
  
  .menú .navbar ul li {
    position: relative ;
    float: left;
    display: flex;
    gap: 100px;
  }
  
  .menú .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    font-weight: bold;
  }
  
  .menú .navbar ul li a:hover{
    color: white;
  }
  
  #menú {
    display: none;
  }
  
  .menú-ícono {
    width: 100px;
  }
  
  .menú label{
    display: none;
  }
  
  .container {
    max-width: 1200px;
    margin:0 auto;
  }
  
  .contant {
    min-height: 80px;
    background: linear-gradient(
      90deg,
      rgb(219, 236, 236) 40%,
      rgb(243, 224, 198) 100%
    );
  }
    .contant{
    position: relative;
    min-height: 150px;
  }
  
  .menú {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
  
  .menú-ícono {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
      width: 100px;
      height: 100px;
      cursor:pointer;
  }
  
  .menú .navbar ul li {
    position: relative ;
    float: left;
    display: flex;
    gap: 100px;
  }
  
  .menú .navbar ul li a {
    font-size: 20px;
    padding: 40px;
    color: black;
    font-weight: bold;
  }
  
  .menú .navbar ul li a:hover{
    color: white;
  }
  
  #menú {
    display: none;
  }
  
  .menú-ícono {
    width: 100px;
  }
  
  .menú label{
    display: none;
  }
       
  .contenedor {
    display: flex;
    margin: 40px;
    padding: 25px;
  }

  .text{
    padding-left: 40px;
  }

  h1 {
    padding: 50px;
    text-align: center;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
  
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
  
    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }
  }
  
  .wrapper {
    max-width: 500px;
    margin-left: 40px;
  }
  
  .slider {
    position: relative;
  }
  
  .slides {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    width:100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    list-style: none;
  }
  
  .slides:hover .slide {
    animation-play-state: paused;
  }
  
  .slide img {
    width: 80%;
    vertical-align: top;
  }
  
  .slide a {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  
  .caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
  }
  
  .slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
  }
  
  .slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
  }
  
  .slider-controler li {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
  }
  
  .slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  
  @media only screen and (min-width: 1200px) {
    .slide {
      width: 500px;
    }
  
    .caption {
      bottom: 96px;
      right: 50px;
    }
  }

  .contenedor-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 50px;
}

.img img {
    max-width: 100%;
    height: auto;
    margin-top: -60px;
}

.left-container {
  position: absolute;
  top: 0; 
  left: 0; 
  text-align: center;
  width: 300px; 
  padding: 10px;
  margin-top: 265px;
  margin-left: 80px;
}

.left-image {
  width: 520px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-link {
  position: absolute;
  top: 40%; 
  left: 55%;
  padding: 20px 60px;
  background-color: #0c6d68 ;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(236, 171, 171, 0.2);
}

.button-link:hover {
  background-color: #032325;
}

h2 {
  font-size: 40px;
  margin-top: -550px;
  margin-left: 850px;
}

.news {
 margin: 60px;
}

.links {
 margin-left: 640px;
 font-size: 20px;
 padding: 10px;
}

.link .li {
 margin: 80px;
}

.news .links a {
  text-decoration: none;
}

.news .links a:hover {
  text-decoration: underline;
}