* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
  }
  
  body {
   font-family: Arial, Helvetica, sans-serif;
   background: linear-gradient(
      90deg,
      rgb(212, 228, 227) 40%,
      rgb(240, 215, 182) 100%
    );
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000000;
  }
  
  
  p {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
  }